<!DOCTYPE html>
<html>
<head>
  <title>Matthew Reid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="propeller" content="e217f346d647bfa5ee39d0bc93935acc" />
</head>
<body>
<%= render '/layouts/nav' %>
<%= yield %>

</body>
</html>
