<!DOCTYPE html>
<html>
<head>
  <title>Matthew Reid</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="propeller" content="e217f346d647bfa5ee39d0bc93935acc">
  <meta name="twitter:card" content="summary">
<meta name="twitter:site" content="matthewjordanreid.com">
<meta name="twitter:creator" content="@misterkapt">
<meta property="og:url" content="http://www.matthewjordanreid.com/howlowqualitypeoplecanaffectyourlife">
<meta property="og:title" content="how low quality people can affect your life">
<meta property="og:description" content="how your success depends on the quality of people you put yourself around.">
</head>
<body>
<%= render '/layouts/nav' %>
<%= yield %>

</body>
</html>
